<html
  xmlns="http:www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>

  <head>
    <meta charset="utf8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
<![endif]-->

    <!--[if mso]>
  <style type="text/css">
    body,table tr,table td,a, span,table.MsoNormalTable{font-family:Helvetica,Arial,sans-serif !important;}
  </style>
  <![endif]-->
    <style type="text'css"></style>
    <title>Invitation as an Admin Manger</title>
    <style>
      @media (max-width: 600px) { img { height: auto !important; max-width: 100%
      !important; } body { padding: 0 10px 10px 10px; } }
    </style>
  </head>

  <body
    style="box-sizing: border-box; margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased;padding-bottom:20px; background-color: #f7f7f7"
    class="sm-px-10"
  >

    <div class="">
      Invitation
    </div>
    <h1>hello, {{name}}</h1>
    <div class="">Create your password with this link <a href={{loginLink}}>Here</a></div>
    <div class="">Link Expires in 7days</div>
  </body>

</html>